body {
  font-family: 'Roboto';
}

#website {
  width: 1024px;
  margin: auto;
}

.centered-text {
  width: 100%;
  text-align: center;
}

.webcard-apdu {
  font-family: 'Consolas', monospace;
}

.website-button {
  font-size: 20px;
}

.smartcard-image {
  width: 64px;
}

.clickable-image {
  cursor: pointer;
}

.clickable-image:hover {
  filter: brightness(125%);
}

#readers-table td {
  border: 2px solid;
  padding: 4px;
  text-align: center;
}

#readers-table td:last-child {
  width: 128px;
}

#readers-table {
  width: 800px;
  margin: auto;
  border-collapse: collapse;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed none none none;
  border-width: 2px;
}
